mysql_user=u262894679
mysql_password=wertyujklmnbvcx
mysql_database=u262894679
mysql_host=srv1596.hstgr.io
mysql_port=3306
ftp_user=u262894679
ftp_password=wertyujklmnbvcx
ftp_host=185.173.111.127
ftp_port=21
ftp_directory=/public_html/nonononono
ftp_passive=true
ftp_secure=false
ftp_passive=true